@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.footerH{
    background: #262626;
    width: 100%;
    height: 75px;
    color: white;
    position: static;
    bottom: 0;
    padding: 25px;
}

.BrandFooter{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}